<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- Optional: For managing non-media files -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo_full"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity_rc"
            android:exported="false" />
        <activity
            android:name=".Activity_pager"
            android:exported="false" />
        <activity
            android:name="com.example.blur.FramActivity"
            android:exported="false" />
        <activity
            android:name=".Ativity_move_fouldet"
            android:exported="false" />
        <activity
            android:name="com.example.gallery.MainActivity17"
            android:exported="false" />
        <activity
            android:name="com.blurview.MainActivity16"
            android:exported="false" />
        <activity
            android:name="com.example.abc.Activity_Camera1"
            android:exported="false" />
        <activity
            android:name="com.example.blur.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name="com.example.blur.MainActivity14"
            android:exported="false" />
        <activity
            android:name=".com.example.wheel.MainActivity_wheelView"
            android:exported="false" />
        <activity
            android:name="com.example.abc.MainActivity15"
            android:exported="false" />
        <activity
            android:name="com.example.gallery.ActivityImageDetail"
            android:exported="false" />
        <activity
            android:name="com.example.gallery.Activity_ImageDisplay"
            android:exported="false" />
        <activity
            android:name=".ActivityLastIamge"
            android:exported="false" />
        <activity
            android:name="com.example.abc.splashscreen"
            android:exported="false" />
        <activity
            android:name="com.example.abc.Activity_Camera"
            android:exported="false" />
        <activity
            android:name="com.example.abc.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.abc.MainActivityqrcode"
            android:exported="false" />
        <activity
            android:name=".video"
            android:exported="false" />
        <activity
            android:name="com.example.abc.ActivityBotton"
            android:exported="false" />
        <activity
            android:name="com.example.abc.ActivityPrinter"
            android:exported="false" />
        <activity
            android:name="com.example.abc.Activity_pano"
            android:exported="false" />
        <activity
            android:name="com.example.abc.activity_video"
            android:exported="false" />
        <activity
            android:name="com.example.abc.activity_sensor"
            android:exported="false" />
        <activity
            android:name="com.example.gallery.MainActivity11"
            android:exported="false" />
        <activity
            android:name="com.example.Hello_activity_"
            android:exported="false" />
        <activity
            android:name="com.example.MainActivity9"
            android:exported="false" />
        <activity
            android:name=".MainActivity8"
            android:exported="false" />
        <activity
            android:name=".MainActivity_data"
            android:exported="false" />
        <activity
            android:name="com.example.abc.MainActivity12"
            android:exported="false" />
        <activity
            android:name="com.example.camera.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.multifit.OnboardingFinishActivity"
            android:exported="false" />
        <activity
            android:name="com.example.multifit.OnboardingExample1Activity"
            android:exported="false" />
        <activity
            android:name="com.example.multifit.activity_Multifit"
            android:exported="false" />
        <activity
            android:name="com.example.blur.MainActivity13"
            android:exported="false" />
        <activity
            android:name="com.example.MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name="com.example.blur.MainActivity5"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name="com.example.language.Activity_Language"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".VideoTrimmerActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity_Foulder"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NetworkMonitorService"
            android:enabled="true"
            android:exported="false" />
        <service android:name="com.example.abc.BackgroundService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>